@{
    ViewData["Title"] = "Details Product";
}

<div class="row">
    <div class="col-md-8">
        <h2>Detail Product</h2>
        <p>Id:@Model.Id, ProductName: @Model.Name, Stock: @Model.Stock, Price: @Model.Price</p>
    </div>
</div>